
body {
  margin: 0;
  font-family: 'YourFontFamily', sans-serif;
}

.slider {
  position: relative;
  height: 60vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.image {
  width: 100%;
  height: 100%;
  border-radius: 10px;
  object-fit: cover;
}

.right-arrow,
.left-arrow {
  position: absolute;
  top: 50%;
  bottom: 50%;
  font-size: 3rem;
  color: goldenrod;
  z-index: 5;
  cursor: pointer;
  user-select: none;
  /* transform-style: preserve-3d; */
  transition: transform 0.1s linear;
}

.right-arrow {
  right: 100px;
}

.left-arrow {
  left: 100px;
}

.slide {
  opacity: 0;
  transition-duration:1s linear;
  /* transition: opacity 0.1s ease, transform 0.1s ease; */
  transition: transform opacity 0.2s ease-in-out 0.2s ease-in-out;
}

.slide.active {
  opacity: 1;
  transition: transform opacity 0.2s ease-in-out 0.2s ease-in-out;
  transform: scale(1.0);
}

.slider-title {
  position: absolute;
  top: 47.5%;
  left: 50%;
  /* right: 50%; */
  transform: translate(-50%, -50%);
  font-size: 3.5rem; 
  color: goldenrod;
}

.image-button {
  position: absolute;
  top: 60%; 
  left: 50%;
  transform: translateX(-50%);
  padding: 10px 20px;
  background-color: goldenrod;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.image-button:hover {
  background-color: coral;
}

@media only screen and (max-width: 768px) {
  .right-arrow{
    font-size: 2rem;
    padding-left: 50%;
    /* right: 1%;
    left: 1%; */
    transform: translateX(30%);
    transition: transform 0.1s ease-in-out;
  }
  .left-arrow{
    font-size: 2rem;
    padding-right:50%;
    transform: translateX(-30%);
    transition: transform 0.1s ease-in-out;
    /* right: 1%;
    left: 1%; */
  }
  .slide{
    opacity: 0;
    transition-duration:1s ease-in-out;
    /* transition: opacity 0.1s ease, transform 0.1s ease; */
    transition: transform opacity 0.2s ease-in-out 0.2s ease-in-out;
  }
  .slide.active {
    opacity: 1;
    transition: transform opacity 0.2s ease-in-out 0.2s ease-in-out
    /* transform: scale(1.05); */
  }

  .slider-title {
    font-size: 2rem;
  }

  .image-button {
    top: 65%;
    padding: 4px 4px;
  }
}
